@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|PT+Mono');

* {
    &::before, 
    &::after {
        box-sizing: inherit;
    }
}

html {
    box-sizing: border-box;
    font-size: @html_font_size;
    line-height: @html_line_height;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: @main_font_family;
    font-size: @font_size;
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
    color: @accent_color_base;
    font-weight: 400;
}


button, input {
    background: none;
    border: none;
    outline: none;
}

.topbar {
    position: relative;
    width: 100%;
    height: 2.5rem;
    background: @gray_lite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 @layout_padding_lg 0 @layout_padding_lg;
    border-bottom:0.2rem solid  darken(@gray_lite, 8);
    color: darken(@gray_lite, 11);

    .users_info {
        position: relative;
        padding:0 (@layout_padding_lg * 2);
    }
    span {
        font-family: 'PT Mono', monospace;
        color: @accent_color_base;
        font-weight: bold;
                position: relative;
            left: 0.5rem;
    }
}


.main {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    // media queries
    @media all and (max-width: @size-xl) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.bet_tabs_nav {
    position: relative;
    width: 100%;
    height:60px;
    display: flex;
    flex-direction: row;
    border-top: 0.2rem solid darken(@gray_lite, 4); border-bottom: 0.2rem solid darken(@gray_lite, 4);
    li {
        position: relative;
        width: calc(100% / 3);
        height: 100%;
        margin:0;
        padding:0;
        border-left: 0.2rem solid darken(@gray_lite, 8);
        cursor: pointer;
        &:first-child {
            border-left: none;
        }
      a {
            position: relative;
            text-decoration: none;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            color: darken(@gray_lite,8);
            &:hover {
                color: darken(@gray_lite, 18);
            }
        }
    }
        .active {
            background: @gray_lite;
            color: darken(@gray_lite, 8);
        }
}


.betbox {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-between;
    flex-wrap: wrap;
    margin:0;
    padding:0;
    width: 69%;
    min-height: calc(100vh - 20rem);
    // media queries 
    @media all and(max-width: @size-xl) {
        width: 100%;
    }
    .betbox_toggle_bot {
        position: absolute;
        bottom:15rem;
        right: 15rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: @accent_color_base;
        font-weight: bold;
        cursor: pointer;
        img {
            width: 5rem;
        }
    }
    .input_group {
        img {
            width: 4rem;
        }
    }
}
.betbox_roll_outcome {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;

    .current_roll, .default_roll {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        margin:@layout_padding_lg auto;
        padding: @layout_padding_lg;
        font-size: 260%;
        font-family:  'PT Mono', monospace;
    }
    .win {
        color: @success_color;
    }
    .lose {
        color: @danger_color;
   }
    .previous_rolls {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
        height: auto;
        padding: @layout_padding_lg;
        margin: 2rem auto;
        border-radius: 8rem;
        box-shadow: 0 0 0.2rem 0 darken(@gray_lite, 8);
        font-family: 'PT Mono', monospace;
        font-size: 110%;
    }
}
.betbox_risk, .betbox_profit {
    position: relative;
    top:-9px;
}

.betbox_wager, .betbox_multiplier, .betbox_profit, .betbox_risk {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: auto;
    #label {
        padding: @layout_padding;
        font-weight: bold;
        color: @accent_color_base;
    }
    .input_group {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
    input {
        position: relative;
        height: auto;
        padding: @layout_padding;
        background: @gray_lite;
        border-top-right-radius: 0.8rem;
        border-bottom-right-radius: 0.8rem;
        box-shadow: 0 0.3rem 0 0 @lite_shadow;
        text-indent:40%;
        font-family: 'PT Mono', monospace;
        font-size: 110%;
        font-weight: 400;
    }        
        .icon {
            position: relative;
            background: @accent_color_base;
            border-top-left-radius: 0.8rem;
            border-bottom-left-radius: 0.8rem;
            box-shadow: 0 0.3rem 0 0 @accent_shadow;
        }
    }

        .bet_btns {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: space-around;
            padding: @layout_padding_lg 0;
            button {
                cursor: pointer;
            }
        }
 }


.betbox_roll_buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 30%;
    padding:0;
    margin:0;
    button {
        position: relative;
        cursor: pointer;
        padding: @layout_padding_lg 2.8rem;
        width: 12rem;
        border-radius: 0.5rem;
        background: @gray_lite;
        border: 0.2rem solid darken(@gray_lite, 8);
        font-weight: 700;
        color: darken(@gray_lite, 8);
        font-size: 115%;
        margin:  4rem;
        kbd {
            position: absolute;
            color: @success_color;
            font-size: 70%;
            font-weight: 800;
            right: 1.7rem;
            top: 1.7rem;
        }
    }
}

.hotkeys {
    position: absolute;
    left: 3rem;
    top:3rem;
    button {
        position: relative;
        cursor: pointer;
        border-radius: 0.5rem;
        padding: @layout_padding;
        border: 0.2rem solid darken(@gray_lite, 4);
        color: darken(@gray_lite, 4);
        font-weight: bold;
        font-size: 95%;
    }
    .active {
        border-color: @success_color;
        color:@success_color;
        background: lighten(@success_color, 28);
    }
}

.chatbox {
    position: relative;
    right:0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin:0;
    padding:0;
    width: 29%;
    min-width: 300px;
    min-height: calc(100vh - 20rem);
    border-left: 0.2rem solid darken(@gray_lite,8);
    float: right;
    @media all and(max-width: @size-xl) {
        width: 100%;
        margin:0;
        padding:0;
        float: none;
    }
}

.chatbox_header {
    position: absolute;
    top:0;
    width: 100%;
    height:60px;
    border-bottom:0.2rem solid darken(@gray_lite,8);
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin:0;
    button {
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0;
        padding:0;
        img {
            height: auto;
            width: 30%;
        }
    }
}
.chatbox_messages {
    position: relative;
    width:100%;
    height: 100%;
    z-index: -1000;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin:0 auto;
    padding: 1rem;
    .chatbox_message {
        position: relative;
        width: auto;
        height: auto;
        margin:0;
        top: 60px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        #message_user {
            a {
                text-decoration: none;
                font-weight: 600;
                color: gold;
            }
        }
        #message_time {
            position: absolute;
            right: 0;
            font-size:80%;
        }
        #message_content {
            position: relative;
            width: 100%;
            height: auto;
            padding: 0.3rem 0;
            text-align: justify;
            font-size: 95%;
            font-weight: 400;
        }
    }
}

.chatbox_form {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    height:100px;
    bottom:0;
    width: 100%;
    border-top: 0.2rem solid darken(@gray_lite, 8);
    z-index: 8;
    input {
        position: relative;
        width: 70%;
        height: auto;
        padding:1rem 0 8rem 0.5rem;
        margin:0;
        border-right:0.12rem solid darken(@gray_lite,8);
        text-indent: 0.3rem;
        font-weight: 500;
        color: @accent_color_base;
        font-size: 110%;
        letter-spacing: 0.1rem;
        word-break: 10rem;
        background-color: #fff;
        &:focus {
            background: @gray_lite;
        }
    }
    button  {
        cursor: pointer;
        position: relative;
        width:30%;
        height: auto;
        border-left: 0.15rem solid darken(@gray_lite, 8);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        img {
            margin:0 auto;
            width: 33%;
        }
    }
}

.chatbox_userlist {
    position: absolute;
    width: 50%;
    height: 100%;
    background: lighten(@gray_lite,2);
    top:calc(60px + 0.2rem);
    bottom:0;
    right:0;
    z-index:-20;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 0.2s ease;
    border-left: 0.2rem solid darken(@gray_lite, 9);
    li {
        position: relative;
        width: 100%;
        height: auto;
        padding:0;
        margin:0;
        border-bottom: 0.2rem solid darken(@gray_lite, 8);
        &:hover a {
            background: darken(@gray_lite,6);
        }
        a {
            position: relative;
            padding: @layout_padding_lg;
            display: flex;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            font-size: 110%;
            font-weight: 600;
            font-family: Monserrat, sans-serif;
        }
    }
}