@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|PT+Mono');

* {
    &::before, 
    &::after {
        box-sizing: inherit;
    }
}

html {
    box-sizing: border-box;
    font-size: @html_font_size;
    line-height: @html_line_height;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: @main_font_family;
    font-size: @font_size;
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
    color: @accent_color_base;
    font-weight: 400;
}


button, input {
    background: none;
    border: none;
    outline: none;
}

.topbar {
    position: relative;
    width: 100%;
    height: 2.5rem;
    background: @gray_lite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 @layout_padding_lg 0 @layout_padding_lg;
    border-bottom:0.2rem solid  darken(@gray_lite, 8);
    color: darken(@gray_lite, 11);

    .users_info {
        position: relative;
        padding:0 (@layout_padding_lg * 2);
    }
    span {
        font-family: 'PT Mono', monospace;
        color: @accent_color_base;
        font-weight: bold;
                position: relative;
            left: 0.5rem;
    }
}


.main {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    // media queries
    @media all and (max-width: @size-xl) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.bet_tabs_nav {
    position: relative;
    width: 100%;
    height:60px;
    display: flex;
    flex-direction: row;
    border-top: 0.2rem solid darken(@gray_lite, 4); border-bottom: 0.2rem solid darken(@gray_lite, 4);
    li {
        position: relative;
        width: calc(100% / 3);
        height: 100%;
        margin:0;
        padding:0;
        border-left: 0.2rem solid darken(@gray_lite, 8);
        background: #fff;
        cursor: pointer;
        &:first-child {
            border-left: none;
        }
      a {
            position: relative;
            text-decoration: none;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            color: darken(@gray_lite,8);
            &:hover {
                color: darken(@gray_lite, 18);
            }
        }
    }
        .active {
            background: @gray_lite;
            color: darken(@gray_lite, 8);
        }
}

.chat_hidden {
    position: relative;
    display: none;
    animation-name: slide_toggle;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out; 
}

.chatbox {
    position: relative;
    right:0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin:0;
    padding:0;
    width: 29%;
    min-width: 300px;
    min-height: calc(100vh - 20rem);
    border-left: 0.2rem solid darken(@gray_lite,8);
    float: right;
    @media all and(max-width: @size-xl) {
        width: 100%;
        margin:0;
        padding:0;
        float: none;
        border-top: 0.2rem solid darken(@gray_lite, 9);
    }


.chatbox_header {
    position: absolute;
    top:0;
    width: 100%;
    height: auto;
    border-bottom:0.2rem solid darken(@gray_lite,8);
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin:0;
    button {
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin:0;
        padding:@layout_padding_lg;
        span {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 @layout_padding;
            font-size: 95%;
            color: @accent_color_base;
            text-indent: 1rem;
        i {
            font-size: 250%;
            color: @accent_color_base;
        }
        }
    }
}
.chatbox_messages {
    position: relative;
    width:100%;
    height: 100%;
    z-index: -1000;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin:0 auto;
    padding: 1rem;
    .chatbox_message {
        position: relative;
        width: auto;
        height: auto;
        margin:0;
        top: 60px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        #message_user {
            a {
                text-decoration: none;
                font-weight: 600;
                color: gold;
            }
        }
        #message_time {
            position: absolute;
            right: 0;
            font-size:80%;
        }
        #message_content {
            position: relative;
            width: 100%;
            height: auto;
            padding: 0.3rem 0;
            text-align: justify;
            font-size: 95%;
            font-weight: 400;
        }
    }
}

.chatbox_form {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    height:100px;
    bottom:0;
    width: 100%;
    border-top: 0.2rem solid darken(@gray_lite, 8);
    z-index: 8;
    overflow: hidden;
    input {
        position: relative;
        width: 70%;
        height: auto;
        padding:1rem 0 8rem 0.5rem;
        margin:0;
        border-right:0.12rem solid darken(@gray_lite,8);
        text-indent: 0.3rem;
        font-weight: 500;
        color: @accent_color_base;
        font-size: 110%;
        letter-spacing: 0.1rem;
        word-break: 10rem;
        background-color: #fff;
        &:focus {
            background: @gray_lite;
        }
    }
    button  {
        cursor: pointer;
        position: relative;
        width:30%;
        height: auto;
        border-left: 0.15rem solid darken(@gray_lite, 8);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        i {
            font-size: 250%;
            color: @accent_color_base;
        }
    }
}
}

.loader {
    position: relative;
    display: flex;
    height: auto;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin:0;
    padding:0;
    background: white;
    .loader_inner {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 20%;
        height: auto;
    figure {
        position: relative;
        width: 12px;
        height: 12px;
        background: @accent_color_base;
        border-radius: 50%;
    }
    #circle1 {
        position: relative;
        animation-name: flash1;
        animation-duration: 0.6s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
    }
    #circle2 {
        position: relative;
        animation-name: flash1;
        animation-duration: 0.6s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
        animation-delay: 2s;
    }
    #circle3 {
        position: relative;
        animation-name: flash1;
        animation-duration: 0.6s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-delay: 4s;
    }
    }
}


.chatbox_userlist {
    position: absolute;
    width: 70%;
    height: 100%;
    background: lighten(@gray_lite,2);
    top:calc(60px + 0.2rem);
    bottom:0;
    right:0;
    z-index:-20;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-left: 0.2rem solid darken(@gray_lite, 9);


    li {
        position: relative;
        width: 100%;
        height: auto;
        padding:0;
        margin:0;
        border-bottom: 0.2rem solid darken(@gray_lite, 8);
        &:hover a {
            background: darken(@gray_lite,6);
        }
        a {
            position: relative;
            padding: @layout_padding_lg;
            display: flex;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            font-size: 110%;
            font-weight: 600;
            font-family: Monserrat, sans-serif;
        }
    }
}