.betbox {
    position: relative;
    flex: 70% 0 0;
    display: flex;
    align-self: flex-start;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-between;
    flex-wrap: wrap;
    height: calc(100vh - 20rem);
    overflow-y: auto;
    transition: flex 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.full {
  flex: 1;
}

.error_messages {
    position: absolute;
    width: 110%;
    padding-top:2rem;
    padding-bottom: 2rem;
    display: flex;
    left:0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: @danger_color;
    animation-name: slide_down;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    span {
        position: relative;
        font-family: @font_body;
        font-weight: 400;
        color: lighten(@danger_color, 11);
        font-size:135%;
        letter-spacing: 0.1rem;
    }
    button {
        position: relative;
        left: 6rem;
        top:-0.3rem;
        cursor: pointer;
        i {
            font-size: 110%;
            color: darken(@danger_color, 15);
        }
    }
}


.betbox_risk, .betbox_profit, {
    position: relative;
    top:-0.7rem;
}
.betbot_toggle {
    position: relative;
    margin:0 (3.1415 * 4.6rem);
#betbot_modal_btn {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    top: 1rem;
    margin:0 auto;
    height: 5rem;
    align-items: center;
    padding:0 (@layout_padding_lg * 1.6);
    background: @gray_lite;
    border-radius: 0.8rem;
    box-shadow: 0 0.3rem 0 0 @lite_shadow;
    img {
        width: 5rem;
    }
 }
}

.betbox_outcome {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background: @gray_lite;
    #tooltip {
        position: absolute;
        font-size:2.3rem;
        z-index:888;
        font-family: @font_numeral;
        color: @accent_color_base;
        transition:all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}

.betbox_child {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 80%;
    top:55px;
    width: calc(100% /5);
    justify-content:flex-start;
    align-items: flex-start;
    height: auto;
    #label {
        font-family: @font_body;
        padding: 0.8rem 0.3rem;
        font-weight: bold;
        color: @accent_color_base;
        font-size: 110%;
    }
    .input_group {
        position: relative;
        width: 80%;
        height: auto;
        display: flex;
            label {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background: #fff;
            border-top-left-radius: 0.6rem;
            border-bottom-left-radius: 0.6rem;
            border: 1.60px solid @gray_lite;
            border-right: none;
            i {
               position: relative;
               font-size:80%;
               padding: 1.3rem;
               color: @accent_color_base;
               &:first-child, &:last-child {
                   font-size: 170%;
               }
            }
        }
    input, .risk, .profit {
        position: relative;
        height: auto;
        max-width: 65%;
        padding: @layout_padding 0;
        display: flex;
        background: #fff;
        border-top-right-radius: 0.6rem;
        border-bottom-right-radius: 0.6rem;
        border: 0.3rem solid @gray_lite;
        text-align: center;
        font-family: 'PT Mono', monospace;
        font-size: 130%;
        font-weight: 900;
        color: @accent_color_base;
    }       
        .icon {
            position: relative;
            background: @accent_color_base;
            padding: @layout_padding;
            border-top-left-radius: 0.8rem;
            border-bottom-left-radius: 0.8rem;
            box-shadow: 0 0.3rem 0 0 @accent_shadow;
        }
    }

        .bet_btns {
            position: absolute;
            width: 40px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            z-index: 2;
            height: 30px;
            width: 100%;
            left: 0;right: 0;bottom:0;
            button {
                position: relative;
                display: flex;
                width: 18%;
                justify-content: center;
                align-items: center;
                background: spin(@accent_color_base, 200);
            }
        }
 }

.betbox_targets {
    
    .icon {
        position: relative;
        border-radius: 0 !important;
        background: transparent !important;
        box-shadow: none !important;
        left: 0.3rem;
        z-index: 888;
    }
    .input_group {
        display: flex !important;
        align-items: space-between !important;
        input {
            margin-left: -4rem;
            width: 12rem;
            text-align: justify;
            text-indent: 52% !important;
            &:first-of-type {
                border-right: 0.3rem solid @lite_shadow;
                border-top-right-radius: 0 !important;
                border-top-left-radius: 0.8rem;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0.8rem;
            }
        }
    }
} 

.betbox_roll_buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 15%;
    padding:5rem 0;
    margin-top:25px;
    button {
        position: relative;
        cursor: pointer;
        padding: 2rem 2.8rem;
        width: 10rem;
        border-radius: 0.6rem;
        background: @accent_color_base;
        letter-spacing: 0.1rem;
        font-family: @font_body;
        font-weight: 800;
        color: darken(@gray_lite, 8);
        font-size: 125%;
        margin: 2rem;
        box-shadow: 0 0.3rem 0 0 @accent_shadow;
        &:hover {
            background: lighten(@accent_color_base, 3);
            box-shadow: 0 0.3rem 0 0 lighten(@accent_shadow, 3);
            transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
        kbd {
            position: absolute;
            color: darken(@accent_shadow,8);
            font-size: 80%;
            font-weight: 800;
            right: 0.8rem;
            top: 2.2rem;
        }
    }
}

.hotkeys {
    position: relative;
    padding: @layout_padding;
    width: 50px;
    height: auto;
    top: -50px;
    left: 80px;
    button {
        position: relative;
        cursor: pointer;
        border-radius: 0.5rem;
        padding: @layout_padding;
        border: 0.2rem solid darken(@gray_lite, 4);
        color: darken(@gray_lite, 4);
        font-weight: bold;
        font-size: 95%;
    }
    .active {
        border-color: @success_color;
        color:@success_color;
        background: lighten(@success_color, 28);
    }
}