@keyframes drop_down {
    0% {
        opacity:0;
        transform: translateY(-25rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide_toggle {
    0% {
        right:0;
    }
    100% {
       right: -100rem;
    }
}

@keyframes refresh_spin {
    0% {
        transform: rotatez(0deg);
    }
    50% {
        transform: rotatez(180deg);
    }
    100% {
        transform: rotatez(360deg);
    }
}

@keyframes slide_down {
    0% {
        opacity:0;
        transform: translateY(-2500rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes flash1 {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}