.dropdown {
    display: inline-block;
    position: relative;
    width: 14rem;

    .dropdown_toggle {
        cursor: pointer;
        font-weight: bold;
        color: @accent_color_base;
        font-size: 110%;
        margin:0 auto;
        position: relative;
        width: 100%;
        height: auto;
        &:hover {
            color: lighten(@accent_color_base, 13);
        }
    }
    .menu {
        animation: drop_down .2s ease 1;
        display: none;
        left: auto;
        right: 0;
        position: absolute;
        top:4.89rem;
        background: #fff;
        width: 100%;
   li {
        position: relative;
        width: 100%;
        height: auto;
        border: 0.2rem solid darken(@gray_lite, 8);
        text-align: center;
        background: #fff;
        &:first-child {
            border-bottom: none;
        }
        &:last-child {
            border-top: none;
        }
        button {
            color: darken(@gray_lite, 12);
            font-weight: bold;
            cursor: pointer;
            position: relative;
            padding: @layout_padding_lg;
            width: 100%;
            &:hover {
                color: @accent_color_base;
            }
        }
    }
}

.open {
        display: block;
        z-index: 999;
 }
}