@font-face {
  font-family: 'st';
  src:  url('fonts/st.eot?dln2x2');
  src:  url('fonts/st.eot?dln2x2#iefix') format('embedded-opentype'),
    url('fonts/st.ttf?dln2x2') format('truetype'),
    url('fonts/st.woff?dln2x2') format('woff'),
    url('fonts/st.svg?dln2x2#st') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'st' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_paperplane_line:before {
  content: "\e904";
}
.icon-icon_arrow_right_line:before {
  content: "\e909";
}
.icon-icon_wallet_minus_line:before {
  content: "\e90a";
}
.icon-icon_wallet_plus_line:before {
  content: "\e90b";
}
.icon-icon_dial_line:before {
  content: "\e90c";
}
.icon-icon_robot_line:before {
  content: "\e90d";
}
.icon-icon_chevron_line:before {
  content: "\e90e";
}
.icon-icon_refresh_line:before {
  content: "\e905";
}
.icon-icon_cross_chat_line:before {
  content: "\e906";
}
.icon-icon_chat_line:before {
  content: "\e907";
}
.icon-icon_btc_line:before {
  content: "\e908";
}
.icon-icon_x_line:before {
  content: "\e900";
}
.icon-icon_pourcent_line:before {
  content: "\e901";
}
.icon-icon_eye_line:before {
  content: "\e902";
}
.icon-icon_eye_cross_line:before {
  content: "\e903";
}
