.navbar {
    position: relative;
    width: 100%;
    height:8rem;
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom:0.2rem solid @gray_lite;

    .navbar_center {
        img {
            width: 22rem;
        }
    }
    .navbar_side {
        position: relative;
        margin:0 5rem;
    }
}