.navbar {
    position: relative;
    width: 100%;
    height:8rem;
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom:0.2rem solid darken(@gray_lite, 8);

    .toggle_button {
        display: none;
    }


    .navbar_center {
        img {
            width: 25rem;
        }
    }
    #user_info {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .navbar_side {
        position: relative;
        margin:0 5rem;
        .notifications {
            position: absolute;
            padding: (@layout_padding * 1.4);
            background: @accent_color_base;
            border-radius: 50%;
            left: -6rem;
            top: -1rem;
            i {
                color: @gray_lite;
                font-size: 160%;
                &:hover {
                    cursor: pointer;
                }
            }
        }

        #toggle_chat {
            position: relative;
            width: 2rem;
            height: auto;
            display: flex;
            margin-right: 3rem;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            i {
                font-size: 175%;
                color: @accent_color_base;
            }
        }
    
        .balance {
            position: relative;
            width: 16rem;
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border: 0.2rem solid @accent_color_base;
            border-radius: 0.33rem;
            background: #fff;
            #balance {
                font-family: @font_body;
                font-size: 130%;
                font-weight:600;
                color: lighten(@accent_color_base,19);
                margin:0 auto;
                text-indent: 20px;
                letter-spacing: 0.1rem;
            }

            @media all and(max-width: @size-lg) {
                float: left;
            }

        .pending {
            position: absolute;
            left: 17.2rem;
            width: 230px;
            color: darken(@lite_shadow,14);
            font-weight: 300;
            font-family: Roboto Mono, monospace;
            font-size: 100%;
            #comfirmations {
                font-family: Monserrat, sans-serif;
                color: darken(@lite_shadow,4);
                font-weight: 400;
                font-size:90%;
                letter-spacing: 0.1rem;
                text-indent: -1rem;
            }
            }

            button {
                position: relative;
                cursor: pointer;
            }
            .refresh_active {
                    animation-name: refresh_spin;
                    animation-duration: 0.3s;
                    animation-iteration-count: 2;
                    animation-timing-function: transform 0.3s ease;               
            }
            .icon-icon_btc  {
                font-size: 175%;
                background: @accent_color_base;
                color: @gray_lite;
                padding: @layout_padding;
            }
            .icon-icon_refresh {
                position: relative;
                font-size: 120%;
                color: @accent_color_base;
                padding: @layout_padding;
            }
        }
    }
}